AI Podcast Generator.json
{
  "name": "AI Podcast Generator",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.murf.ai/v1/speech/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api-key",
              "value": "ap2_d309b1f2-8fc3-43c8-9f66-9743856a255c"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "voice_id",
              "value": "en-US-natalie"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        0
      ],
      "id": "a8fa9f00-e90e-4f89-bf9e-a282fe43bc5e",
      "name": "Generate Voice Audio with Murfai"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        208
      ],
      "id": "3521fc97-2fec-478c-a1ef-c0d9b02bf013",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "HvxOxs5r0eTKzcS0",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.audioFile }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        0
      ],
      "id": "c3194aee-666d-4584-be26-7afd95d335b8",
      "name": "Podcast Downloader"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ff20c11e-ff34-4274-ba8d-f348a18fb026",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -48,
        0
      ],
      "id": "dd92852b-88cf-4242-910c-7fd78a261d85",
      "name": "Webhook",
      "webhookId": "ff20c11e-ff34-4274-ba8d-f348a18fb026"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "{{$json.body.text}}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a professional podcast script writer. Create engaging, informative podcast content based on the given topic:{{$json.body.text}} . Length should be 2 minute when spoken. Just give the content only without labelling "
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        224,
        0
      ],
      "id": "b0f46e35-d317-467a-a857-b1dcd2371f60",
      "name": "Podcast Script Generator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        976,
        0
      ],
      "id": "3db803ba-f6c2-4322-9126-7b25bbb92fa3",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Podcast Script Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Voice Audio with Murfai": {
      "main": [
        [
          {
            "node": "Podcast Downloader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Podcast Script Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Podcast Script Generator": {
      "main": [
        [
          {
            "node": "Generate Voice Audio with Murfai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Podcast Downloader": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "fa2533ac-3945-4037-87a9-4374f6bf2f89",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a7af6633e66a9c108ceffd2b1bf89bb7e953950464e214d874c8206051bc8ca5"
  },
  "id": "ufvAOtRcBu2DN6X7",
  "tags": []
}